body {
display: flex;
justify-content: space-around;
align-items: center;
height: 100vh;
background-color: lightgoldenrodyellow;
}


.box {
width: 50px;
height: 50px;
background-color:lightskyblue;
position: relative;
border-radius: 50px;
animation: move 4s infinite;
}

/* Keyframes for moving the box */
@keyframes move {
from {
  left: 0;
}
to {
  left: 200px;
}
}

/* Applying different timing functions */
.ease {
    animation-timing-function: ease-in-out;
}
.linear {
    animation-timing-function: ease-in-out;
}
.ease-in {
    animation-timing-function: ease-in-out;
}
.ease-out {
    animation-timing-function: ease-in-out;
}
.ease-in-out {
    animation-timing-function: ease-in-out;
}
.cubic-bezier {
    animation-timing-function: ease-in-out;
}