.pulser {
    margin: 30px;
    width: 30px;
    height: 30px;
    background: rebeccapurple;
    border-radius: 50%;
    position: relative;
  }

  .pulser::after {
    animation: pulser 1000ms infinite;
  }

  @keyframes pulser {
    0% {
      opacity: 0;
    }
    50% {
      transform: scale(1.4);
      opacity: 0.4;
    }
  }

  .pulser::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(167, 167, 3);
    border-radius: 50%;
    z-index: -1;
  }

  body {
    display: grid;
    place-items: center;
  }

  .squere{
    margin: 50px;
    width: 30px;
    height: 30px;
    background:yellowgreen;
    position: relative;
  }

  .squere::after {
    animation: squere 1000ms infinite;
  }

  @keyframes squere {
    0% {
      opacity: 0;
    }
    50% {
      transform: scale(1.4);
      opacity: 0.4;
    }
  }

  .squere::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(149, 125, 171);
    z-index: -1;
  }
